
@{
    ViewBag.Title = "Edit";
}

<h2>Add New Image</h2>

@if (ViewBag.Error != null)
{
    <div class="warning">@ViewBag.Error</div>
}

<form action="@Url.Action("Create", "ProductImages")" method="post" enctype="multipart/form-data">


    <input id="file" type="file" name="file" />



    <button type="submit" class="btn btn-default">Submit</button>
</form>
